body {
     font-family: 'Montserrat', sans-serif;
     padding: 0;
     margin: 0;
}
 h1, h2, h3, h4, h5, h6 {
     font-style: normal;
     font-weight: 600;
     letter-spacing: 0.2px;
     line-height: 1.3em;
     color: #25282B;
     margin: 0;
     padding: 0;
}
 ul, li {
     display: block;
     padding: 0;
     margin: 0;
}
 a {
     text-decoration: none;
}
 .title {
     text-align: center;
}
/**** Menu ****/
 .top_line{
     background-color:#5d5f61;
}
 .top_line .mail{
     margin-right: 100px;
}
 .top_line li span, .top_line ul{
     display: inline-block;
}
 .top_line li{
     display: inline-block;
     margin-right: 5px;
}
 .top_line li a, .top_line a, .top_line li span{
     color:#CACCCF;
     font-size: 14px;
}
 .nav{
     margin-top: 15px;
}
 .menu {
     margin-top: 20px;
}
 .menu__link {
     margin: 0 20px;
     display: inline-block;
}
 @media (min-width: 768px){
     .menu{
         text-align: right;
    }
}
 @media (max-width: 768px){
     .menu{
         text-align: center;
    }
}
 @media (max-width: 767.9px){
     .menu__link{
         display: block;
    }
}
 @media (max-width: 768px){
     .menu__link a{
         margin:10px 0;
         display: block;
    }
}
 .menu__link a{
     font-size: 16px;
     font-weight: 500;
     letter-spacing: 0.3px;
     color: #25282B 
}
 .btn {
     font-family: 'Montserrat', sans-serif;
     background: #007EFF;
     padding: 10px 0;
     width: 140px;
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     letter-spacing: 0.3px;
     border-radius: 8px;
     border: 1px solid #007EFF;
}
 .btn__sign-in {
     background: #fff;
     color: #25282B;
     font-weight: 500;
     margin: 10px 3px 0 10px;
}
 .btn__get-started {
    /*width: 150px;
    */
     margin: 10px 3px 0 10px;
}
/**** Offer ****/
 .offer {
     margin-top: 117px;
}
 .offer__text {
     margin-top: 31px;
}
 .form__input {
     border: 1px solid #A0A4A8;
     border-radius: 8px;
     padding: 10px;
     margin-top: 30px;
}
 ::placeholder {
     color: #CACCCF;
     font-size: 16px;
}
 .btn__free-trial {
     margin-left: 20px;
}
 .offer__free-trial {
     font-size: 12px;
     margin: 7px 0 0 13px;
}
 .offer__img {
     max-width: 100%;
     height: auto;
}
 .trusted__text {
     font-size: 16px;
     font-weight: 400;
     margin-top: 80px;
     color: #CACCCF;
}


/**** Why WebArmor ****/
 .properties {
     margin-top: 10px;
}
 .properties__title {
     padding: 90px 0;
}
 .properties__list {
     margin: 0 0 43px 40px;
}
 .property__icon {
     height: 55px;
     margin-right: 10px;
     margin-left: 22px;
}
 .property__title {
     font-size: 22px;
     margin-bottom: 3px;
}
 .property__text {
     font-size: 16px;
}


/**** Features ****/
 .features {
     margin: 70px 0;
}
 .features__title {
     padding: 90px 50px;
}
 .feature__img {
     padding-left: 20px;
     max-width: 100%;
     height: auto;
}
 .feature__block {
     padding-left: 50px;
}
 .feature__title {
     padding: 30px 0;
}
 .feature__text {
     font-size: 20px;
     line-height: 40px;
     margin-bottom: 120px;
}


/**** Screen 4 Call to Action ****/
 .cta {
     background-image: url("../img/img3.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 800px;
     margin-top: 70px;
}
 .cta__title {
     margin-top: 120px;
}
 .cta__text {
     margin: 20px 0 30px;
}



/**** Footer ****/
 .footer {
     background: #25282B;
     padding: 60px 0;
}

 .footer-block__title {
     text-transform: uppercase;
     color: #52575C;
     font-size: 20px;
     margin-bottom: 20px;
}

 .footer__item {
     padding-bottom: 15px;
}

 .footer__item a{
     color: #CACCCF;
}

 .footer__links {
     margin-top: 40px;
}



/*** offer_pricing ***/
 .offer_pricing{
     margin-top: 80px;
}
 .margin_top-40{
     margin-top: 40px;
}
 .font_size-22{
     font-size: 22px;
}
 .margin_bottom-40{
     margin-bottom: 40px;
}
 .margin_bottom-100{
     margin-bottom: 300px;
}
 .card{
     border: 1px solid #e0e6ed;
     border-radius: 9px;
}
 .card-title{
     font-size: 22px;
}
 .card ul li{
     line-height: 35px;
     font-size: 15px;
}
 .card_list{
     min-height: 278px;
}
 .card_list_middle{
     min-height: 277px;
}
 .cost{
     display: block;
     font-size: 42px;
     font-weight: 600;
     margin:16px 0;
     color:#25282B;
}
 .card-third, .card-first{
     margin:15px;
}
 .card-middle{
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
     padding-top:16px;
     padding-bottom: 16px;
}
 .content{
     margin-top: 80px;
}
 .content h2,.content h3{
     font-size: 18px;
     margin-bottom:20px;
}
 .content p{
     line-height: 30px;
     font-size: 16px;
}

.safe-text ul li{
     padding-left: 35px;
     position: relative;
     padding-bottom: 20px;
     line-height: 30px}
 
 .safe-text ul li:before {
     content: "\25CF";
     display: block;
     color: #007EFF;
     position: absolute;
     font-size: 20px;
     left: 2px;
     top: -4px;}

 .date{
     margin:7px 0;
     font-size: 16px;
     font-weight:500;
 }

 .blog h2{
     margin:15px 0;
     font-size: 1.5em;
 }

 .blog p{
     line-height: 1.5;
     min-height: 110px;
 }

 .blog{
     margin:30px 0;
 }

 .blog_paginator{
     margin:30px 0;
 }

 .blog a:hover{
     text-decoration: none;
 }




 
/*** Media ***/

@media (min-width: 768px){
     .form__input{
         width: 346px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
     .btn__top{
         width: 127px;
    }
}

@media (max-width: 767.9px){
 .offer__title{
     font-size: 26px;
}
 .offer{
     margin-top: 50px;
}
 .btn__free-trial{
     margin-left: 0;
     width: 208px;
}
 .offer__img{
     margin-top:30px;
}
 .trusted__text{
     margin-top: 30px;
}
 .button_group{
     text-align: center;
}
 .btn{
     display: block;
     margin:10px auto;
}
 .properties{
     margin-top:30px;
}
 .properties__title{
     padding:40px 0;
}
 .properties__list {
     margin: 0 0 22px 6px;
}
 .features{
     margin-top: 30px;
     margin-bottom: 30px;
}
 .features__title{
     padding:0;
     font-size: 22px;
}
 .feature__img{
     padding-left: 0;
}
 .feature__block{
     padding-left: 0;
}
 .feature__text{
     margin-bottom: 30px;
     font-size: 16px;
}
 .feature__title{
     font-size: 22px;
}
 .cta{
     margin-top:30px;
}
 .form_center{
     text-align: center;
}
 .top_info{
     text-align: center;
}
 .top_line li span, .top_line ul{
     display: block;
}
 .top_line .mail {
     margin-right: 15px;
}
 .logo {
     text-align: center;
}
 .footer-block {
     padding-left: 15px;
}
 .offer_pricing{
     margin-top:40px;
}
 .offer_pricing h1{
     font-size: 26px;
}
 .card_list,.card_list_middle {
     min-height: 150px;
}
 .font_size-22{
     font-size: 18px;
}
.content h2 {
     margin-top: 15px;

}

.content_news h1{
     font-size:29px;
}

.content h1{
     font-size:29px;
}

}

@media (min-width: 767.9px) and (max-width: 991.98px){
 .menu__link{
     margin:0 4px;
}
 .menu{
     text-align: left;
}
 .btn__top{
     width: 119px;
}
 .offer__img{
     padding-top: 85px;
}
 .btn__free-trial{
     margin:10px auto;
}
 .properties__title{
     padding:30px 0;
}
 .properties__list{
     margin: 0;
}
 .features__title{
     padding: 40px 50px;
     font-size: 25px;
}
 .card h5{
     font-size: 21px;
}
}






